<% layout('layouts/boilerplate') -%> 
<h1>This is the workspots.ejs page from views</h1>

<% workspots.forEach(workspots => { %>
<div>
	<h4><%= workspots.name %></h4>
	<img src="<%= workspots.image %>" />
</div>
