<h1>Add a new workspot</h1>

<form action="/worksposts" method="POST">
	<input type="text" name="name" id="name" placeholder="Location name">
	<p>What type of Workspot is this?</p>
	<div>
		<label for="cafe">Cafe/Restaurant/Bar</label>
		<input type="checkbox" name="type" id="cafe">
		<label for="cowork">CoWorking Space</label>
		<input type="checkbox" name="type" id="cowork">
		<label for="library">Library/Community Space</label>
		<input type="checkbox" name="type" id="library">
	</div>
	<textarea name="description" id="" placeholder="Describe the Workspot"></textarea>
	<p>How would you describe the Wifi speed?</p>
	<div>
		<label for="slow">Slow</label>
		<input type="checkbox" name="features[wifi]" id="slow">
		<label for="adequate">Adequate</label>
		<input type="checkbox" name="features[wifi]" id="adequate">
		<label for="fast">Fast!!</label>
		<input type="checkbox" name="features[wifi]" id="fast">
	</div>
	<p>How would you describe the Wifi speed?</p>
	<div>
		<label for="slow">Slow</label>
		<input type="checkbox" name="features[wifi]" id="slow">
		<label for="adequate">Adequate</label>
		<input type="checkbox" name="features[wifi]" id="adequate">
		<label for="fast">Fast!!</label>
		<input type="checkbox" name="features[wifi]" id="fast">
	</div>
	<p>How would you describe the access to Outlets?</p>
	<div>
		<label for="none">None</label>
		<input type="checkbox" name="features[outlet]" id="none">
		<label for="limited">Limited</label>
		<input type="checkbox" name="features[outlet]" id="limited">
		<label for="good">Good</label>
		<input type="checkbox" name="features[outlet]" id="good">
		<label for="alot">Alot!!</label>
		<input type="checkbox" name="features[outlet]" id="alot">
	</div>
	<p>How is the parking?</p>
	<div>
		<label for="none">No Parking</label>
		<input type="checkbox" name="features[parking]" id="none">
		<label for="paid">Paid lot/Meters only</label>
		<input type="checkbox" name="features[parking]" id="paid">
		<label for="free">Free lot/Free Street parking</label>
		<input type="checkbox" name="features[parking]" id="free">
		<label for="mix">Both free and paid parking options</label>
		<input type="checkbox" name="features[parking]" id="both">
	</div>
	<br>
	<div>
		<label for="food">Food?</label>
		<input type="checkbox" name="features[food]" id="food">
	</div>
	<br>
	<div>
		<label for="alcohol">Alcohol?</label>
		<input type="checkbox" name="features[alcohol]" id="alcohol">
	</div>
	<br>
	<div>
		<label for="late">Open late(past 9:00pm)?</label>
		<input type="checkbox" name="features[openLate]" id="late">
	</div>
	<br>
	<div>
		<input type="text" name="location" id="" placeholder="location">
	</div>
	<br>
	<input type="submit">
</form>